<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Facial Expression Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
        <div class="flex-box content-box">
            <form action="/upload_image" method="post" enctype="multipart/form-data">
                <label>Imagem da expressão facial: <input type="file" name="image"></label>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="flex-box content-box">
            <form action="/upload_link" method="post">
                <label for="link">Link para imagem da expressão facial:</label>
                <input type="text" id="link" name="imgLink" placeholder="link"> 
                <input type="submit" value="Submit">
            </form>
        </div>
</body>
</html>